<div class="header"></div>

<div class="container">
  <div class="sidebar">
    <!-- Search -->
    <input #searchTx (change)="music.search(searchTx.value)" />


    <div class="headline">Mediathek</div>
    <div>Recently added</div>
    <div>Artists</div>
    <div (click)="music.loadLibraryAlbums()">Albums</div>


    <div class="headline">Playlist</div>
    <!-- Playlist list-->
    <div class="playlist">
      <music-track
        [type]="'playlist'"
        [showArtwork]="false"
        *ngFor="let playlist of music.playlists | async"
        [track]="playlist"
      ></music-track>
    </div>
  </div>

  <div class="center">
    <div class="player">
      <player [player]="music.musicKit.player"></player>
    </div>
    <div class="main">


      <ng-container *ngIf="music.selectedView | async as selectedView">
      

      <!-- Search Results -->
      <div *ngIf="selectedView === 'search-results'" class="search-results">
        <div *ngFor="let song of (music.searchResults | async)?.data">
          <music-track [track]="song"></music-track>
        </div>
      </div>


      <!-- Library albums -->
      <div *ngIf="selectedView === 'library-albums'" class="search-results">
        <div *ngFor="let song of (music.libraryAlbums | async)">
          <music-track [track]="song" [type]="'library-albums'"></music-track>
        </div>
      </div>


      <!-- Playlist Detail-->
      <div *ngIf="selectedView === 'playlist'">
        <div
          *ngIf="music.selectedPlaylist | async as selectedPlaylist; else loading"
        >

          <div>
            <img [src]="music.formatArtwork(selectedPlaylist.attributes.artwork)" >
            <div>{{selectedPlaylist.attributes.name}}</div>
            <div>{{selectedPlaylist.attributes.description.standard}}</div>

          </div>

          <music-track
            *ngFor="let track of selectedPlaylist.relationships.tracks.data"
            [track]="track"
          ></music-track>
        </div>
        <ng-template #loading>No playlist selected</ng-template>
      </div>


      <!-- Library Album-->
      <div *ngIf="selectedView === 'library-album'">
        <div
          *ngIf="music.selectedLibraryAlbum | async as selectedLibraryAlbum; else loading"
        >

          <div>
            <img [src]="music.formatArtwork(selectedLibraryAlbum.attributes.artwork)" >
            <div>{{selectedLibraryAlbum.attributes.name}}</div>
            <!-- <div>{{selectedLibraryAlbum.attributes.description.standard}}</div> -->

          </div>

          <music-track
            *ngFor="let track of selectedLibraryAlbum.relationships.tracks.data"
            [track]="track"
          ></music-track>
        </div>
        <ng-template #loading>No playlist selected</ng-template>
      </div>
    </ng-container>



    </div>

  </div>
</div>
